body{
    /* background-image: url(./Design.jpeg);
    */
    background-image: url(https://cdn.pixabay.com/photo/2022/06/21/16/18/strawberries-7276120_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
flex-direction: column;
margin: 0;
padding: 0;
box-sizing: border-box;
}
h1{
    color: white;
    font-size: 50px;
    padding-top: 5px;
}
h2{
    color: white;
}
header{
    display: flex;
    height: 15vh;
    justify-content: space-around;
    background-color: rgb(48, 55, 158);
    margin-bottom: 40px;
}
nav{
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;   
    font-size: 30px;
    padding-top: 50px;
}
nav >.oben{
    padding-right: 25px;
    text-decoration: none;
    color: white;
}
nav >.oben:hover{
color: rgb(226, 99, 99);
}
/* --------------------------------------------------------------- */
main{
    background-color: rgb(226, 99, 99);
    height: 70vh;
    width: 50vw;
     display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    border-radius: 40px;
    
}

h2{
font-size: 40px;
}
p{
    color: white;
    font-size: 22px;
}
li{
    color: rgb(48, 55, 158);
    font-size: 29px;
    line-height: 40px;
}
input{
    font-size: 30px;

}
input:focus {
    background-color: rgb(188, 213, 250);
    color: rgb(48, 55, 158);
    border: 3px solid #db7bc6;
}
  
button{
    width: 200px;
    font-size: 30px;
    background-color: rgb(48, 55, 158);
    
    border-radius: 10px;
    color: white;
}

footer{
    display: flex;
    justify-content: flex-end;
    margin-right: 110px;
}
footer > button{
    background-color: rgb(48, 55, 158);
    
   height: 40px; 
}

.back{
    background-color:  rgb(48, 55, 158);
    color: white;
    font-size:28px;
    text-decoration: none;
    border-radius: 6px;
    padding: 2px;
}

.fa-solid{
    color: rgb(226, 99, 99);
   font-size: 60px;

}