body{
    background-image: url( https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?cs=srgb&dl=pexels-philippedonn-1169754.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
flex-direction: column;
margin: 0;
padding: 0;
box-sizing: border-box;
}
h1{
    color: white;
    font-size: 50px;
    padding-top: 5px;
}
h2{
    color: white;
}
header{
    display: flex;
    height: 15vh;
    justify-content: space-around;
    background-color: rgb(46, 47, 51,0.6);
    margin-bottom: 40px;
}
nav{
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;   
    font-size: 30px;
    padding-top: 50px;
}
nav >.oben{
    padding-right: 25px;
    text-decoration: none;
    color: white;
}
nav >.oben:hover{
color: rgb(189, 140, 100);
}
/* --------------------------------------------------------------- */
main{
    background-color: rgb(46, 47, 51, 0.6);

    height: 70vh;
    width: 50vw;
     display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    border-radius: 40px;
    overflow: scroll;

}

h2{
font-size: 40px;
}
p{
    color: white;
    font-size: 22px;
}
li{
    color: white;
    font-size: 29px;
    line-height: 40px;
}
input{
    font-size: 30px;

}
input:focus {
    background-color:rgb(46, 47, 51);
    color: white;
    border: 3px solid #030303;
}
  
button{
    width: 200px;
    font-size: 30px;
    background-color: rgb(189, 140, 100);
    
    border-radius: 10px;
    color:rgb(46, 47, 51);
}

footer{
    display: flex;
    justify-content: flex-end;
    margin-right: 110px;
}
footer > button{
    background-color:  rgb(189, 140, 100);
    color: rgb(46, 47, 51);
   height: 40px; 
}

.back{
    background-color:  rgb(189, 140, 100);
    color: rgb(46, 47, 51);
    font-size:28px;
    text-decoration: none;
    border-radius: 6px;
    padding: 2px;
}

.fa-solid{
    color:  rgb(189, 140, 100);
    font-size: 60px;

}