body{
    background-image: url(https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
display: flex;
flex-direction: column;
margin: 0;
padding: 0;
box-sizing: border-box;
}
h1{
    color: white;
    font-size: 50px;
    padding-top: 5px;
}
h2{
    color: white;
}
header{
    display: flex;
    height: 15vh;
    justify-content: space-around;
    background-color: rgb(204, 193, 44);
    margin-bottom: 40px;
}
nav{
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;   
    font-size: 30px;
    padding-top: 50px;
}
nav >.oben{
    padding-right: 25px;
    text-decoration: none;
    color: white;
}
nav >.oben:hover{
    color: rgb(5, 148, 129);
}
/* --------------------------------------------------------------- */
main{
    background-color: rgb(204, 193, 44);
    height: 70vh;
    width: 50vw;
     display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    border-radius: 40px;
    overflow: scroll;
    
}

h2{
font-size: 40px;
}
p{
    color: white;
    font-size: 22px;
}
li{
    color: rgb(5, 148, 129);
    font-size: 25px;
    line-height: 40px;
}
input{
    font-size: 30px;

}
input:focus {
    background-color: rgb(5, 148, 129);
    color: white;
    border: 3px solid #db7bc6;
}
  
button{
    width: 200px;
    font-size: 30px;
    background-color: rgb(5, 148, 129) ;
    border-radius: 10px;
    color: white;
}

footer{
    display: flex;
    justify-content: flex-end;
    margin-right: 110px;
}
footer > button{
    background-color: rgb(204, 193, 44);
   height: 40px; 
}
.fa-solid{
   color: rgb(5, 148, 129);
   font-size: 60px;
}

/* @media screen and (max-width:1439px) and (min-width:694px){} */
